@charset "utf-8";
#mainpage {
	text-align: left;
    color: black;
	
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

.type {
	padding: 10px 10px 20px;
	max-width: calc((100vw - 100%) + 100% - 160px);
	min-width: min-content;
	box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
	border-radius: 14px;
	background: rgba(255,255,255,0.6);
	display: grid;
	grid-template-areas:
		"name"
		"cat";
	grid-template-rows: 50px auto;
	grid-template-columns: auto;
	grid-gap: 1px;
}
.typename {
	grid-area: name;
	margin-top: -15px;
	padding: 5px 50px;
	font-size: 26px;
	font-weight: bold;
	color: black;
}
.categories {
	grid-area: cat;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(700px, auto));
	justify-content: center;
	grid-row-gap: 30px;
	grid-column-gap: 10px;
}
.category {
	border-radius: 10px;
	box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
	padding: 10px;
	margin-left: 10px;
	background: white;
	font-size: 20px;
	display: grid;
	grid: 250px auto/ 400px auto;
}
.category-image {
	background: rgb(38,59,78);
	box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
	border-radius: 10px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	margin: -20px 0 -20px -20px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
}
.category-image > object {
	width: 100%;
}
.category-link {
	margin: -5px;
	border-radius: 10px;
	position: absolute;
	cursor: pointer;
	width: 420px;
	height: 290px;
}
.category-link:hover {
	background: rgba(255, 255, 255, 0.1);
}
.cat-name {
	grid-column-start: 1;
	grid-column-end: 2;
	margin-left: 3px;
	display: flex;
	align-items: flex-start;
	font-size: 26px;
	font-weight: normal;
	line-height: 1;
	color: white;
}
.series {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
	padding-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
}
.series > div:first-child {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	gap: 5px;
	flex-direction: row;
	align-content: flex-start;
}
.series > div:first-child > a {
	display: block;
	border-radius: 7px;
	padding: 3px 10px;
	line-height: 1;
	cursor: pointer;
	transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
	outline: none;
	text-decoration: none;
	color: rgb(38,59,78);
	font-size: 24px;
	font-weight: bold;
	text-align: end;
	width: fit-content;
}
.series > div:first-child > a:hover {
	background: white;
	box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
}
.series > div:last-child {
    display: flex;
    padding: 0 10px;
    font-size: 21px;
    line-height: 0.9;
    color: grey;
}
.category > div:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    opacity: 0.05;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    margin-right: -10px;
}
.category > div:nth-child(3) > img {
	margin-right: -50px;	
    max-height: 250px;
}